alembic==1.14.1 # (for migrations)
aiosqlite==0.21.0 # (needed for testing with SQLite in-memory database)
pytest==8.3.4 # (for testing)
pytest-asyncio==0.25.3 # (for async testing with pytest)
SQLAlchemy==2.0.38 # (for database handling)
psycopg2-binary==2.9.10 # (for PostgreSQL connection)
pydantic==2.10.6 # (for data validation)
fastapi==0.115.8 # (for API)
httpx==0.28.1 # (for making async HTTP requests)
python-dotenv==1.0.1 # (for .env)
asyncpg==0.30.0 # (for async PostgreSQL driver)
greenlet==3.1.1 # (used internally by SQLAlchemy with psycopg2)
bcrypt==3.2.0 # (for password hashing)
passlib==1.7.4 # (for password hashing, works with bcrypt)
PyJWT==2.3.0 # (for JWT token handling)
pyOpenSSL==21.0.0 # (for SSL/TLS support)
SecretStorage==3.3.1 # (for securely storing secrets)
cryptography==3.4.8 # (for cryptographic operations)
uvicorn==0.34.0 # (ASGI server for running FastAPI)
h11==0.14.0 # (HTTP/1.1 implementation used by Uvicorn)
starlette==0.45.3 # (lightweight ASGI framework used by FastAPI)
anyio==4.8.0 # (provides async networking and concurrency, required by Starlette)
exceptiongroup==1.2.2 # (for handling multiple exceptions in async code)
sniffio==1.3.1 # (detects the current async library being used)
typing_extensions==4.12.2 # (provides additional type hints, used by FastAPI and Starlette)
